<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Metronic | Admin Dashboard Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="hello world" name="description"/>
    <meta content="east seven" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css"         rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"   rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css"               rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/gritter/css/jquery.gritter.css"                    rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.css"        rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css"                          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <!--<link href="http://metronic.eastseven.cn/theme/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>-->
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="http://metronic.eastseven.cn/theme/assets/global/css/components.css"             rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/global/css/plugins.css"                rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/layouts/layout/css/layout.css"         rel="stylesheet" type="text/css"/>
    <link href="http://metronic.eastseven.cn/theme/assets/layouts/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="http://metronic.eastseven.cn/theme/assets/layouts/layout/css/custom.css"         rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->