<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="scripts">

<!-- jQuery -->
<script th:src="@{/webjars/gentelella/1.4.0/vendors/jquery/dist/jquery.min.js}" src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script th:src="@{/webjars/gentelella/1.4.0/vendors/bootstrap/dist/js/bootstrap.min.js}" src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script th:src="@{/webjars/gentelella/1.4.0/vendors/fastclick/lib/fastclick.js}" src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script th:src="@{/webjars/gentelella/1.4.0/vendors/nprogress/nprogress.js}" src="../vendors/nprogress/nprogress.js"></script>

<!-- Custom Theme Scripts -->
<script th:src="@{/webjars/gentelella/1.4.0/build/js/custom.min.js}" src="../build/js/custom.min.js"></script>

</body>