<!-- basic scripts -->

<!--[if !IE]> -->
<script th:src="@{/webjars/ace/assets/js/jquery-2.1.4.min.js}" src="assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/webjars/ace/assets/js/jquery-1.11.3.min.js}" src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='webjars/ace/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script th:src="@{/webjars/ace/assets/js/bootstrap.min.js}" src="assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script th:src="@{/webjars/ace/assets/js/ace-elements.min.js}" src="assets/js/ace-elements.min.js"></script>
<script th:src="@{/webjars/ace/assets/js/ace.min.js}" src="assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->